.what-awaits-you {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  overflow: hidden;

  @include tablet-width-only {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
  }

  @include mobile-width-only {
    padding: 50px 20px 0 20px;
  }
}
@media screen and(min-width: 950px) and(max-width: 1169px) {
  .what-awaits-you {
    max-width: 950px;
  }
}
.what-awaits-you-title {
  margin-bottom: 150px;
  text-transform: uppercase;
}
.section-title {
  position: relative;
  font-family: $core-sans-black;
  font-size: 68px;
  text-align: center;
  color: #ff0000;

  &:after {
    content: 'Что вас ждёт';
    position: absolute;
    top: -80px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Besom",sans-serif;
    font-size: 180px;
    color: #eaebeb;
    z-index: -1;

    @include tablet-width-only {
      top: -60px;
      font-size: 130px;
    }

    @include mobile-width-only {
      top: -50px;
      width: 500px;
      font-size: 100px;
    }
  }

  @include tablet-width-only {
    font-size: 48px;
  }

  @include mobile-width-only {
    font-size: 36px;
  }
}
.what-awaits-you__list {
  position: relative;
  padding-left: 50px;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    left: 200px;
    top: -30px;
    position: absolute;
    background-repeat: no-repeat;

    @include tablet-width-only {
      left: 180px;
      top: -50px;
    }

    @include mobile-width-only {
      top: auto;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 57px;
      height: 56px;
    }
  }

  @include mobile-width-only {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    text-align: center;
    padding-bottom: 140px;

    &:before {
      content: "";
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 60px;
    }
  }
}
.no-webp .what-awaits-you__list {
  &:after {
    background-image: url("../img/what-awaits-you/decor-dot-line.png");

    @include tablet-width-only {
      background-image: url("../img/what-awaits-you/decor-dot-line-tablet.png");
    }

    @include mobile-width-only {
      background-image: url("../img/what-awaits-you/finish-and-dot-mobile.png");
    }
  }

  @include mobile-width-only {
    &:before {
      background-image: url("../img/what-awaits-you/start-and-dot-mobile.png");
    }
  }
}
.webp .what-awaits-you__list {
  &:after {
    background-image: url("../img/webp/what-awaits-you/decor-dot-line.webp");

    @include tablet-width-only {
      background-image: url("../img/webp/what-awaits-you/decor-dot-line-tablet.webp");
    }

    @include mobile-width-only {
      background-image: url("../img/webp/what-awaits-you/finish-and-dot-mobile.webp");
    }
  }

  @include mobile-width-only {
    &:before {
      background-image: url("../img/webp/what-awaits-you/start-and-dot-mobile.webp");
    }
  }
}
.what-awaits-you__item {
  display: flex;
  align-items: center;

  @include mobile-width-only {
    flex-direction: column;
  }
}
.what-awaita-you__item--special-skills {
  @include tablet-width-only {
    display: flex;
    flex-direction: row-reverse;
  }
}
.what-awaits-you__image-special-knowledge,
.what-awaits-you__image-special-skills,
.what-awaits-you__image-extreme,
.what-awaits-you__image-constant-stress {
  margin-right: 30px;
  background-repeat: no-repeat;

  @include mobile-width-only {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.what-awaits-you__image-special-knowledge {
  width: 366px;
  height: 300px;

  @include mobile {
    width: 290px;
    height: 237px;
  }
}
.no-webp .what-awaits-you__image-special-knowledge {
  &.lazy {
    background-image: none;
  }
  
  background-image: url("../img/what-awaits-you/special-knowledge.png");

  @include mobile {
    background-image: url("../img/what-awaits-you/special-knowledge-tablet.png");
  }
}
.webp .what-awaits-you__image-special-knowledge {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/webp/what-awaits-you/special-knowledge.webp");

  @include mobile {
    background-image: url("../img/webp/what-awaits-you/special-knowledge-tablet.webp");
  }
}
.what-awaits-you__image-special-skills {
  width: 373px;
  height: 312px;

  @include mobile {
    width: 291px;
    height: 243px;
  }
}
.no-webp .what-awaits-you__image-special-skills {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/what-awaits-you/special-skills.png");

  @include mobile {
    background-image: url("../img/what-awaits-you/special-skills-tablet.png");
  }
}
.webp .what-awaits-you__image-special-skills {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/webp/what-awaits-you/special-skills.webp");

  @include mobile {
    background-image: url("../img/webp/what-awaits-you/special-skills-tablet.webp");
  }
}
.what-awaits-you__image-extreme {
  width: 374px;
  height: 385px;

  @include mobile {
    width: 320px;
    height: 333px;
  }
}
.no-webp .what-awaits-you__image-extreme {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/what-awaits-you/extreme.png");

  @include mobile {
    background-image: url("../img/what-awaits-you/extreme-tablet.png");
  }
}
.webp .what-awaits-you__image-extreme {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/webp/what-awaits-you/extreme.webp");

  @include mobile {
    background-image: url("../img/webp/what-awaits-you/extreme-tablet.webp");
  }
}
.what-awaits-you__image-constant-stress {
  width: 393px;
  height: 321px;

  @include mobile {
    width: 343px;
    height: 280px;
  }
}
.no-webp .what-awaits-you__image-constant-stress {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/what-awaits-you/constant-stress.png");

  @include mobile {
    background-image: url("../img/what-awaits-you/constant-stress-tablet.png");
  }
}
.webp .what-awaits-you__image-constant-stress {
  &.lazy {
    background-image: none;
  }

  background-image: url("../img/webp/what-awaits-you/constant-stress.webp");

  @include mobile {
    background-image: url("../img/webp/what-awaits-you/constant-stress-tablet.webp");
  }
}
.what-awaits-you__item:not(:first-child) {
  margin-top: -45px;

  @include tablet-width-only {
    margin-top: 0;
  }

  @include mobile-width-only {
    margin-top: 0;
  }
}
.what-awaits-you__item:not(:last-child) {
  @include tablet-width-only {
    margin-top: 30px;
  }

  @include mobile-width-only {
    margin-bottom: 40px;
  }
}
.what-awaits-you__item:nth-child(even) {
  padding-left: 450px;

  @include tablet-width-only {
    padding-left: 0;
  }

  @include mobile-width-only {
    padding-left: 0;
  }
}
.what-awaits-you__item--constant-stress {
  @include tablet-width-only {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -50px;
  }
}
.what-awaits-you__description--special-knowledge {
  width: 290px;

  @include mobile-width-only {
    width: 275px;
  }
}
.what-awaits-you__description--special-skills,
.what-awaits-you__description--constant-stress {
  width: 275px;
}
.what-awaits-you__description--special-skills {
  @include tablet-width-only {
    margin-right: 40px;
  }
}
.what-awaits-you__description--constant-stress {
  @include tablet-width-only {
    margin-right: 40px;
  }
}
.what-awaits-you__description--extreme {
  width: 310px;

  @include mobile-width-only {
    width: 275px;
  }
}

.what-awaits-you__title {
  display: block;
  margin-bottom: 15px;
  font-family: $core-sans-bold;
  font-size: 20px;
  color: #4d4d4d;
}
.what-awaits-you__text {
  color: #4d4d4d;
}
