@font-face {
  font-weight: 500;
  font-family: "Muller";
  font-style: normal;
  font-display: swap;
  src: local("Muller Medium"),
    local("Muller-Medium"),
    url("../fonts/muller-medium.woff") format("woff");
}
