$main-font-family: "Core Sans E 45 Regular", sans-serif;
$besom: "Besom", sans-serif;
$core-sans-light: "Core Sans E 35 Light Regular", sans-serif;
$core-sans-light-italic: "Core Sans E 35 Light Regular Italic", sans-serif;
$core-sans-regular: "Core Sans E 45 Regular", sans-serif;
$core-sans-medium: "Core Sans E 55 Medium Regular", sans-serif;
$core-sans-bold: "Core Sans E 65 Bold Regular", sans-serif;
$core-sans-heavy: "Core Sans E 85 Heavy Regular", sans-serif;
$core-sans-black: "Core Sans E 95 Black Regular", sans-serif;
$basic-font-size: 16px;
$primary-color-font: #000;
$desktop-width: 1170px;
$laptop-width: 992px;
$tablet-width: 750px;
$mobile-width: 320px;
