doctype html
html(lang="ru", dir="ltr", class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
    meta(name="description", content="Закрытый спецкурс. Выжить любой ценой.")
    block stylesheetAndScripts
  body
    block content
    script(src="js/main.js")
