footer.page-footer
  .page-footer__date-copyright-logo-wrapper
    a(href="#").logo
    span.page-footer__date-copyright &copy; 2017
  .page-footer__privacy-policy Политика конфиденциальности
  a(href="tel:+79304150252").page-footer__phone +7 (930) 415 02 52
