section.test-yourself
  .test-yourself__inner.container
    .test-yourself__wrapper
      .test-yourself__text-wrapper
        h2.test-yourself__title Испытай
        span себя <br/>на прочность
      button(type="button").main-button Рискнуть
