section.test-yourself
  .test-yourself__inner.container
    .test-yourself__wrapper
      .test-yourself__text-wrapper
        h2.test-yourself__title
          span.test-yourself__title-first-word Испытай 
          span себя <br/>на прочность
      button(type="button").open-feedback-form-js.main-button Рискнуть
