.testimonials {
  padding-top: 120px;
  padding-bottom: 100px;
  background-image: url("../img/testimonials/main-background-desktop.png");
  background-repeat: no-repeat;
  background-position: 50% -240px;
  overflow: hidden;
  background-color: #fbfbfb;

  @include tablet-width-only {
    padding-bottom: 120px;
    background-image: url("../img/testimonials/main-background-tablet.png");
    background-position: 50% -270px;
  }

  @include mobile-width-only {
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url("../img/testimonials/main-background-mobile.png");
    background-position: 50% 310px;
  }
}
.testimonials__title {
  margin-bottom: 120px;
  text-transform: uppercase;
  position: relative;
  font-family: "Core Sans E 95 Black Regular",sans-serif;
  font-size: 68px;
  text-align: center;
  color: red;
  z-index: 2;

  &:before {
    content: 'Отзывы';
    position: absolute;
    top: -80px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Besom",sans-serif;
    font-size: 180px;
    color: #eaebeb;
    z-index: -1;

    @include tablet-width-only {
      top: -50px;
      font-size: 120px;
    }

    @include mobile-width-only {
      top: -45px;
      font-size: 100px;
    }
  }

  @include tablet-width-only {
    margin-bottom: 50px;
    font-size: 48px;
  }

  @include mobile-width-only {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.video-player-wrapper {
  position: relative;
  width: 1142px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 642px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/testimonials/media-player-desktop.jpg");
  background-repeat: no-repeat;
  z-index: 2000;

  @include tablet-width-only {
    width: 723px;
    height: 407px;
    margin-bottom: 80px;
    background-image: url("../img/testimonials/media-player-tablet.jpg");
  }

  @include mobile-width-only {
    width: 292px;
    height: 164px;
    background-image: url("../img/testimonials/media-player-mobile.jpg");
  }
}
.player {
  height: 642px;
  width: 1142px;

  @include tablet-width-only {
    width: 723px;
    height: 407px;
  }

  @include mobile-width-only {
    width: 292px;
    height: 164px;
  }
}
.video-player__play-button {
  width: 109px;
  height: 113px;
  background-image: url("../img/icon-raster/media-play.png");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    width: 125px;
    height: 131px;
    background-image: url("../img/icon-raster/media-play-hover.png");
  }
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.testimonials__list {
  position: relative;
  display: flex;
  min-height: 380px;
  margin-bottom: 20px;
  z-index: 30;

  @include mobile-width-only {
    min-height: 470px;
  }

  @include tablet-width-only {
    min-height: 300px;
    margin-bottom: 0;
  }
}
.testimonials__item {
  position: relative;
  display: flex;
  max-width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 100px 50px 360px;
  box-sizing: border-box;

  @include tablet-width-only {
    padding-top: 40px;
    padding-left: 230px;
    padding-right: 50px;
  }

  @include mobile-width-only {
    align-items: center;
    padding: 10px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.testimonials__reviewer-photo {
  width: 199px;
  height: 265px;
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 20;
  background-repeat: no-repeat;

  @include tablet-width-only {
    width: 145px;
    height: 193px;
    top: 40px;
    left: 55px;
  }

  @include mobile-width-only {
    position: relative;
    width: 117px;
    height: 156px;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }
}
.testimonials__reviewer-photo-001 {
  background-image: url("../img/testimonials/reviewer-photo-001-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/testimonials/reviewer-photo-001-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/testimonials/reviewer-photo-001-mobile.png");
  }
}
.testimonials__reviewer-photo-002 {
  background-image: url("../img/testimonials/reviewer-photo-002-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/testimonials/reviewer-photo-002-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/testimonials/reviewer-photo-002-mobile.png");
  }
}
.testimonials__reviewer-photo-003 {
  background-image: url("../img/testimonials/reviewer-photo-003-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/testimonials/reviewer-photo-003-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/testimonials/reviewer-photo-003-mobile.png");
  }
}
.testimonials__reviewer-photo-004 {
  background-image: url("../img/testimonials/reviewer-photo-004-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/testimonials/reviewer-photo-004-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/testimonials/reviewer-photo-004-mobile.png");
  }
}
.testimonials__item-reviewer-wrapper {
  position: relative;
  flex-shrink: 0;

  z-index: 20;

  & picture {
    margin-right: 50px;
  }
}
.testimonials__item-reviewer-name {
  margin-bottom: 20px;
  font-family: $core-sans-bold;
  font-size: 20px;
  color: #4d4d4d;
  z-index: 20;
}
.testimonials__item-reviewer-text {
  position: relative;
  width: 100%;
  max-height: 170px;
  margin-bottom: 15px;
  line-height: 24px;
  color: #4d4d4d;
  overflow-y: auto;
  z-index: 20;

  @include tablet-width-only {
    max-height: 150px;
  }

  @include mobile-width-only {
    max-height: 145px;
    text-align: center;
  }
}
.testimonials__toggle-text {
  position: relative;
  margin-bottom: 60px;
  border-bottom: 1px dashed #4d4d4d;
  color: #4d4d4d;
  z-index: 20;
  cursor: pointer;

  @include mobile-width-only {
    margin-bottom: 40px;
  }
}
.testimonials__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 50;
}
.testimonials__pagination-right,
.testimonials__pagination-left {
  height: 19px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}
.testimonials__pagination-left {
  width: 40px;
  background-image: url("../img/icon-raster/arrow-left.png");

  &:hover {
    background-image: url("../img/icon-raster/arrow-left-hover.png");
  }
}
.testimonials__pagination-right {
  width: 66px;
  background-image: url("../img/icon-raster/arrow-right.png");

  &:hover {
    background-image: url("../img/icon-raster/arrow-right-hover.png");
  }
}
.testimonials__pagination-dots {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 9px;
  background-image: url("../img/icon-raster/pagination-dot.png");
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 15px;
  }
}
.swiper-pagination-bullet-active {
  background-image: url("../img/icon-raster/pagination-dot-hover.png");
}
