section.you-will-gain-skill
  .you-will-gain-skill__wrapper.container
    h2.section-title.you-will-gain-skill__title Ты приобретёшь навык
    ul.you-will-gain-skill__list
      li.you-will-gain-skill__item
        | Освоишь больше десятка узлов
      li.you-will-gain-skill__item
        | Побываешь в роли пострадавшего и спасателя
      li.you-will-gain-skill__item
        | Проведёшь ночь в партизанском укрытии
      li.you-will-gain-skill__item
        | Попробуешь себя в роли Леонардо ДиКаприо в фильме «Выживший»
      li.you-will-gain-skill__item
        | Получишь море адреналина, но самое главное - бесценный
        | опыт, который останется с тобой на всю жизнь
