// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-hover-name: 'arrow-left-hover';
$arrow-left-hover-x: 132px;
$arrow-left-hover-y: 131px;
$arrow-left-hover-offset-x: -132px;
$arrow-left-hover-offset-y: -131px;
$arrow-left-hover-width: 40px;
$arrow-left-hover-height: 19px;
$arrow-left-hover-total-width: 234px;
$arrow-left-hover-total-height: 150px;
$arrow-left-hover-image: '../img/sprite/sprite.png';
$arrow-left-hover: (132px, 131px, -132px, -131px, 40px, 19px, 234px, 150px, '../img/sprite/sprite.png', 'arrow-left-hover', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 172px;
$arrow-left-y: 131px;
$arrow-left-offset-x: -172px;
$arrow-left-offset-y: -131px;
$arrow-left-width: 40px;
$arrow-left-height: 19px;
$arrow-left-total-width: 234px;
$arrow-left-total-height: 150px;
$arrow-left-image: '../img/sprite/sprite.png';
$arrow-left: (172px, 131px, -172px, -131px, 40px, 19px, 234px, 150px, '../img/sprite/sprite.png', 'arrow-left', );
$arrow-right-hover-name: 'arrow-right-hover';
$arrow-right-hover-x: 0px;
$arrow-right-hover-y: 131px;
$arrow-right-hover-offset-x: 0px;
$arrow-right-hover-offset-y: -131px;
$arrow-right-hover-width: 66px;
$arrow-right-hover-height: 19px;
$arrow-right-hover-total-width: 234px;
$arrow-right-hover-total-height: 150px;
$arrow-right-hover-image: '../img/sprite/sprite.png';
$arrow-right-hover: (0px, 131px, 0px, -131px, 66px, 19px, 234px, 150px, '../img/sprite/sprite.png', 'arrow-right-hover', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 66px;
$arrow-right-y: 131px;
$arrow-right-offset-x: -66px;
$arrow-right-offset-y: -131px;
$arrow-right-width: 66px;
$arrow-right-height: 19px;
$arrow-right-total-width: 234px;
$arrow-right-total-height: 150px;
$arrow-right-image: '../img/sprite/sprite.png';
$arrow-right: (66px, 131px, -66px, -131px, 66px, 19px, 234px, 150px, '../img/sprite/sprite.png', 'arrow-right', );
$media-play-hover-name: 'media-play-hover';
$media-play-hover-x: 0px;
$media-play-hover-y: 0px;
$media-play-hover-offset-x: 0px;
$media-play-hover-offset-y: 0px;
$media-play-hover-width: 125px;
$media-play-hover-height: 131px;
$media-play-hover-total-width: 234px;
$media-play-hover-total-height: 150px;
$media-play-hover-image: '../img/sprite/sprite.png';
$media-play-hover: (0px, 0px, 0px, 0px, 125px, 131px, 234px, 150px, '../img/sprite/sprite.png', 'media-play-hover', );
$media-play-name: 'media-play';
$media-play-x: 125px;
$media-play-y: 0px;
$media-play-offset-x: -125px;
$media-play-offset-y: 0px;
$media-play-width: 109px;
$media-play-height: 113px;
$media-play-total-width: 234px;
$media-play-total-height: 150px;
$media-play-image: '../img/sprite/sprite.png';
$media-play: (125px, 0px, -125px, 0px, 109px, 113px, 234px, 150px, '../img/sprite/sprite.png', 'media-play', );
$pagination-dot-hover-name: 'pagination-dot-hover';
$pagination-dot-hover-x: 125px;
$pagination-dot-hover-y: 113px;
$pagination-dot-hover-offset-x: -125px;
$pagination-dot-hover-offset-y: -113px;
$pagination-dot-hover-width: 10px;
$pagination-dot-hover-height: 9px;
$pagination-dot-hover-total-width: 234px;
$pagination-dot-hover-total-height: 150px;
$pagination-dot-hover-image: '../img/sprite/sprite.png';
$pagination-dot-hover: (125px, 113px, -125px, -113px, 10px, 9px, 234px, 150px, '../img/sprite/sprite.png', 'pagination-dot-hover', );
$pagination-dot-name: 'pagination-dot';
$pagination-dot-x: 135px;
$pagination-dot-y: 113px;
$pagination-dot-offset-x: -135px;
$pagination-dot-offset-y: -113px;
$pagination-dot-width: 10px;
$pagination-dot-height: 9px;
$pagination-dot-total-width: 234px;
$pagination-dot-total-height: 150px;
$pagination-dot-image: '../img/sprite/sprite.png';
$pagination-dot: (135px, 113px, -135px, -113px, 10px, 9px, 234px, 150px, '../img/sprite/sprite.png', 'pagination-dot', );
$spritesheet-width: 234px;
$spritesheet-height: 150px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($arrow-left-hover, $arrow-left, $arrow-right-hover, $arrow-right, $media-play-hover, $media-play, $pagination-dot-hover, $pagination-dot, );
$spritesheet: (234px, 150px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
