section.testimonials
  .container
    h2.testimonials__title Отзывы
    .video-player-wrapper
      button(type="button").video-player__play-button
      div(style="display: none;")#player.player
    ul.testimonials__list
      li.testimonials__item
        .testimonials__reviewer-photo
        span.testimonials__item-reviewer-name Дмитрий Весна
        p.testimonials__item-reviewer-text
          | Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что
          | на такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится.
          | Каждый день плавать в одежде в речках (а это Мурманск детка), спать по 2 часа
          | или совсем не спать, потому что надо совершать марш броски с пострадавшим в
          | 140 кг. ,освоить альпинизм и совершать самостоятельные спуски и подъемы с
          | крутых скал за 1 день, делать носилки за 5 минут из подручных средств, есть
          | ягоды по пол дня, потому что другой еды нет, пить только из речки, ходить
          | босиком по лесу весь день, делать укрытия, о которых даже в детстве не мечтал,
          | спать под открытым небом без спальников... и палаток, и постоянно кого то
          | спасать, оказывать первую помощь, учиться быстро договариваться с людьми, которых
          | видишь первый день, а также работать в команде с ними..., потому что ваши Жизни,
          | только в Ваших правильных действиях, быстрой реакции и конечно руках. Не
          | перечислить все, что происходило, т.к. оно происходило постоянно. Когда только
          | хотелось выдохнуть и сказать вот сейчас небольшой отдых, сейчас посплю в тепле
          | и наконец, надену сухие носки, начинался Ад!!!
          | Столько опыта получил за три дня, что за всю жизнь не получал такого, хоть и
          | путешественник лютый. Пересмотрел многие моменты на подготовку к походам,
          | снаряжению, одежде, выбору места для лагеря, безопасности, прогнозировать
          | негативные ситуации, которые могут случиться в лесу и принимать превентивные
          | меры, правильно и быстро принимать решения и многое другое.
          | А самое главное найти в себе силы идти к цели, когда нет сил, хочется все
          | послать, сдаться. Открыть в себе не только второе дыхание, а пятое или десятое уже.
        span.testimonials__toggle-text Читать весь отзыв
        .testimonials__pagination
          button(type="button").testimonials__pagination-left
          ul.testimonials__pagination-dots
            li.testimonials__pagination-dot.testimonials__pagination-dot--active
            li.testimonials__pagination-dot
            li.testimonials__pagination-dot
            li.testimonials__pagination-dot
          button(type="button").testimonials__pagination-right
