extends ../blocks/layout/layout.pug

block title
  title Закрытый спецкурс. Выжить любой ценой.

block stylesheet
  link(
    rel="stylesheet"
    href="css/index.css"
  )

block content
  include ../blocks/page-header/page-header.pug
  main
    include ../blocks/what-awaits-you/what-awaits-you.pug
    include ../blocks/what-gives-our-course/what-gives-our-course.pug
    include ../blocks/you-will-know-what-to-do/you-will-know-what-to-do.pug
    include ../blocks/safety-in-city/safety-in-city.pug
    include ../blocks/test-yourself/test-yourself.pug
