extends ../blocks/layout/layout.pug

block title
  title Закрытый спецкурс. Выжить любой ценой.

block stylesheetAndScripts
  link(
    rel="stylesheet"
    href="css/index.css"
  )
  script(
    defer
    src="https://www.youtube.com/iframe_api"
  )

block content
  include ../blocks/page-header/page-header.pug
  main
    include ../blocks/what-awaits-you/what-awaits-you.pug
    include ../blocks/what-gives-our-course/what-gives-our-course.pug
    include ../blocks/you-will-know-what-to-do/you-will-know-what-to-do.pug
    include ../blocks/safety-in-city/safety-in-city.pug
    include ../blocks/test-yourself/test-yourself.pug
    include ../blocks/you-will-gain-skill/you-will-gain-skill.pug
    include ../blocks/course-program/course-program.pug
    include ../blocks/photos/photos.pug
    include ../blocks/instructor/instructor.pug
    include ../blocks/test-yourself/test-yourself.pug
    include ../blocks/testimonials/testimonials.pug
    include ../blocks/location/location.pug
    include ../blocks/have-questions/have-questions.pug
  include ../blocks/page-footer/page-footer.pug
  include ../blocks/feedback-form/feedback-form.pug
