extends ../blocks/layout/layout.pug

block title
  title Page description

block stylesheet
  link(
    rel="stylesheet"
    href="css/index.css"
  )

block content
  include ../blocks/page-header/page-header.pug
  main
