section.instructor
  h2.section-title.instructor__title Инструктор
  .instructor__wrapper
    .instructor__photo
    strong.instructor__name Роман Попков
    ul.instructor-statistics-in-text
      li.instructor-statistics-in-text__item
        | Альпинист
      li.instructor-statistics-in-text__item
        | 8 восхождений на Эльбрус (Западная и Восточная вершины), восхождение
        | на Монблан. Неоднократно принимал участие в спасательных работах в горах.
        | Спас двоих человек на вершине Эльбруса в снежную бурю
      li.instructor-statistics-in-text__item
        | Обучался у военных, горных и инструкторов по туризму
      li.instructor-statistics-in-text__item
        | Обучался в центре подготовки спасателей
      li.instructor-statistics-in-text__item
        | Инструктор по первой помощи по программе Красного Креста
      li.instructor-statistics-in-text__item
        | Обучение и  подготовка в Центре медицины катастроф
      li.instructor-statistics-in-text__item
        | Дайвер

  ul.instructor-statistics-in-numbers
    li.instructor-statistics-in-numbers__item
      | Спарт провел в качестве капитана
    li.instructor-statistics-in-numbers__item
      | прыжков с веревкой (Rope Jumping)
    li.instructor-statistics-in-numbers__item
      |Спарт организовал (максимальный поток68 чел.)
    li.instructor-statistics-in-numbers__item
      | боёв в Бойцовском Клубе
