section.photos
  picture
    source(
      srcset="img/photos/photo-desktop.png"
      media="(min-width: 1170px)"
    )
    source(
      srcset="img/photos/photo-tablet.png"
      media="(min-width: 765px)"
    )
    img(src="img/photos/photo-mobile.png", alt="")
