section.course-program.container
  h2.section-title.course-program__title В программе спецкурса
  .course-program__list-wrapper
    ul.course-program__list
      li.course-program__item Военный альпинизм с минимальным набором снаряжения
      li.course-program__item Тактическая медицина
      li.course-program__item Разведение огня без спичек
      li.course-program__item Построение укрытий, долговременных и краткосрочных
      li.course-program__item Блок по экипировке
      li.course-program__item Аварийно-спасательные работы
      li.course-program__item Первая помощь
      li.course-program__item Методы согрева и просушки одежды
      li.course-program__item Поисково-спасательные работы
  .course-program__sign-up
    span.course-program__sign-up-text Записаться и
    button(type="button").main-button Рискнуть
