.you-will-gain-skill {
  position: relative;
  padding-top: 180px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: -350px 260px;

  @include tablet-width-only {
    padding-top: 100px;
    background-position: 0px 370px;
  }

  @include mobile-width-only {
    padding-top: 60px;
    background-position: 0px 180px;
  }
}
.no-webp .you-will-gain-skill {
  background-image: url("../img/you-will-gain-skill/man-with-map-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/you-will-gain-skill/man-with-map-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/you-will-gain-skill/list-background-mobile.png");
  }
}
.webp .you-will-gain-skill {
  background-image: url("../img/webp/you-will-gain-skill/man-with-map-desktop.webp");

  @include tablet-width-only {
    background-image: url("../img/webp/you-will-gain-skill/man-with-map-tablet.webp");
  }

  @include mobile-width-only {
    background-image: url("../img/webp/you-will-gain-skill/list-background-mobile.webp");
  }
}
@media screen and(min-width: 470px) and(max-width: 750px) {
  .you-will-gain-skill {
    background-position: 30% 180px;
  }
}
@media screen and(min-width: 900px) and(max-width: 1169px) {
  .you-will-gain-skill {
    background-position: 15% 370px;
  }
}
@media screen and(min-width: 1450px) {
  .you-will-gain-skill {
    background-position: -220px 260px;
  }
}
.you-will-gain-skill__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 873px;
}
.you-will-gain-skill__title {
  text-transform: uppercase;

  &:after {
    content: "Ты приобретёшь";

    @include tablet-width-only {
      font-size: 120px;
    }

    @include mobile-width-only {
      top: -10px;
      width: 730px;
    }
  }

  @include mobile-width-only {
    max-width: 450px;
    margin-bottom: 70px;
  }
}
.you-will-gain-skill__list {
  padding-top: 100px;
  padding-left: 640px;
  background-repeat: no-repeat;
  background-position: 370px 40px;

  @include tablet-width-only {
    min-width: 500px;
    padding-top: 80px;
    padding-left: 280px;
    background-position: 20px 20px;
  }

  @include mobile-width-only {
    position: relative;
    width: 70%;
    padding-left: 90px;
    padding-top: 0px;
    z-index: 10;
  }
}
.no-webp .you-will-gain-skill__list {
  background-image: url("../img/you-will-gain-skill/list-background-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/you-will-gain-skill/list-background-tablet.png");
  }
}
.webp .you-will-gain-skill__list {
  background-image: url("../img/webp/you-will-gain-skill/list-background-desktop.webp");

  @include tablet-width-only {
    background-image: url("../img/webp/you-will-gain-skill/list-background-tablet.webp");
  }
}
.you-will-gain-skill__item {
  margin-bottom: 70px;
  color: #4d4d4d;
  line-height: 24px;

  &:nth-child(1) {
    width: 130px;

    @include mobile-width-only {
      margin-bottom: 80px;
    }
  }
  &:nth-child(2) {
    width: 210px;
    margin-left: 100px;

    @include mobile-width-only {
      width: 145px;
      margin-bottom: 70px;
      margin-left: 30px;
    }
  }
  &:nth-child(3) {
    width: 185px;
    margin-bottom: 110px;
    margin-left: 170px;

    @include mobile-width-only {
      width: 185px;
      margin-bottom: 115px;
      margin-left: 40px;
    }
  }
  &:nth-child(4) {
    width: 230px;
    margin-bottom: 90px;
    margin-left: 220px;

    @include mobile-width-only {
      width: 185px;
      margin-bottom: 80px;
      margin-left: 10px;
    }
  }
  &:nth-child(5) {
    width: 230px;
    margin-left: 250px;

    @include tablet-width-only {
      margin-left: 230px;
    }

    @include mobile-width-only {
      width: 230px;
      margin-left: -50px;
    }
  }
}
