.test-yourself {
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.no-webp .test-yourself {
  background-image: url("../img/test-yourself/main-background-desktop.png");

  @include tablet-width-only {
    background-image: url("../img/test-yourself/main-background-tablet.png");
  }

  @include mobile-width-only {
    background-image: url("../img/test-yourself/main-background-mobile.png");
  }
}
.webp .test-yourself {
  background-image: url("../img/webp/test-yourself/main-background-desktop.webp");

  @include tablet-width-only {
    background-image: url("../img/webp/test-yourself/main-background-tablet.webp");
  }

  @include mobile-width-only {
    background-image: url("../img/webp/test-yourself/main-background-mobile.webp");
  }
}
.test-yourself__inner { // fix bug in IE
  display: flex;

  @include mobile-width-only {
    height: 510px;
  }
}
.test-yourself__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 369px;


  @include mobile-width-only {
    flex-direction: column;
    justify-content: center;
  }
}
.test-yourself__text-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;

  @include tablet-width-only {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile-width-only {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 45px;
    margin-left: auto;
  }
}
.test-yourself__title {
  display: flex;
  align-items: center;

  @include tablet-width-only {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile-width-only {
    flex-direction: column;
    align-items: center;
  }
}
.test-yourself__title-first-word {
    font-family: $besom;
    font-size: 120px;
    color: #ff0000;

  &+ span {
    margin-left: 40px;
    font-family: $core-sans-black;
    font-size: 42px;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;

    & br {
      @include tablet-width-only {
        display: none;
      }
      @include mobile-width-only {
        display: none;
      }
    }

    @include tablet-width-only {
      margin-left: 0;
      font-size: 30px;
    }

    @include mobile-width-only {
      margin-left: 0;
      font-size: 27px;
    }
  }

  @include tablet-width-only {
    font-size: 90px;
    line-height: 90px;
  }

  @include mobile-width-only {
    font-size: 80px;
    line-height: 80px;
  }
}
