section.what-awaits-you.container
  h2.section-title.what-awaits-you-title Что вас ждёт
  ul.what-awaits-you__list
    li.what-awaits-you__item
      .what-awaits-you__image-special-knowledge.lazy
      .what-awaits-you__description.what-awaits-you__description--special-knowledge
        strong.what-awaits-you__title Спецзнания
        p.what-awaits-you__text
          | За 3 дня спецкурса вы получите знания,
          | которым обучают военных, альпинистов,
          | спасателей
    li.what-awaits-you__item.what-awaita-you__item--special-skills
      .what-awaits-you__image-special-skills.lazy
      .what-awaits-you__description.what-awaits-you__description--special-skills
        strong.what-awaits-you__title Спецнавыки
        p.what-awaits-you__text
          | 3 дня в лесу, без палаток, зажигалок
          | и любых других гаджетов, которые
          | облегчали бы жизнь
    li.what-awaits-you__item
      .what-awaits-you__image-extreme.lazy
      .what-awaits-you__description.what-awaits-you__description--extreme
        strong.what-awaits-you__title Экстрим
        p.what-awaits-you__text
          | Смоделированные экстремальные ситуации, максимально
          | приближенные к реальности. Вам придётся спасать
          | утопающих из воды, спускаться по верёвке по отвесным
          | aскалам, добывать воду, жить в шалашах и землянках
    li.what-awaits-you__item.what-awaits-you__item--constant-stress
      .what-awaits-you__image-constant-stress.lazy
      .what-awaits-you__description.what-awaits-you__description--constant-stress
        strong.what-awaits-you__title Постоянный стресс
        p.what-awaits-you__text
          | Участникам предстоит преодолевая себя действовать
          | в стрессовой обстановке, применять на практике
          | полученные ранее знания
