section.safety-in-city
  h2.safety-in-city__title
    | Также курс включает в себя блок<br/>по безопасности в городе
  ul.safety-in-city__list
    li.safety-in-city__item Как действовать во время пожара?
    li.safety-in-city__item Блок по автомобильной безопасности.
    li.safety-in-city__item Народные волнения, давки, теракты.
    li.safety-in-city__item Техногенные и природные катастрофы.
    li.safety-in-city__item Что должно быть в EDC наборе.
