.instructor {
  padding-top: 70px;
  padding-bottom: 60px;
  overflow: hidden;

  @include tablet-width-only {
    padding-top: 10px;
  }

  @include mobile-width-only {
    padding-top: 20px;
  }
}
.instructor__title {
  margin-bottom: 90px;
  text-transform: uppercase;

  &:after {
    content: "Инструктор";
  }

  @include tablet-width-only {
    margin-bottom: 55px;
  }

  @include mobile-width-only {
    margin-bottom: 40px;
  }
}
.instructor__wrapper {
  display: flex;
  margin-bottom: 80px;

  @include tablet-width-only {
    max-height: none;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }

  @include mobile-width-only {
    max-height: none;
    margin-bottom: 30px;
    flex-direction: column;
  }
}
.instructor__photo {
  width: 290px;
  height: 290px;
  margin-right: 40px;
  background-repeat: no-repeat;
  flex-shrink: 0;

  @include tablet-width-only {
    margin-right: 0;
    margin-bottom: 20px;
  }
  @include mobile-width-only {
    height: 290px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.no-webp .instructor__photo {
  background-image: url("../img/instructor/photo.png");
}
.webp .instructor__photo {
  background-image: url("../img/webp/instructor/photo.webp");
}
.instructor__name {
  flex-shrink: 0;
  font-family: $core-sans-bold;
  font-size: 24px;
  line-height: 24px;
  color: #ff0000;

  @include tablet-width-only {
    margin-bottom: 60px;
  }
  @include mobile-width-only {
    margin-bottom: 30px;
    text-align: center;
  }
}
.instructor-statistics-in-text {
  display: flex;
  max-height: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -158px;
  padding-left: 60px;
  padding-top: 50px;
  background-position: -6px 57px;
  background-repeat: no-repeat;

  @include tablet-width-only {
    width: 100%;
    max-height: 300px;
    margin-left: 0;
    padding-top: 0;
    padding-left: 60px;
    background-position: -6px 5px;
  }
  @include mobile-width-only {
    max-height: none;
    margin-left: 0;
    padding-top: 0;
    padding-left: 50px;
    background-position: -6px 7px;
  }
}
.no-webp .instructor-statistics-in-text {
  background-image: url("../img/instructor/red-line.png");

  @include mobile-width-only {
    background-image: url("../img/instructor/red-line-mobile.png");
  }
}
.webp .instructor-statistics-in-text {
  background-image: url("../img/webp/instructor/red-line.webp");

  @include mobile-width-only {
    background-image: url("../img/webp/instructor/red-line-mobile.webp");
  }
}
.instructor-statistics-in-text__item {
  margin-bottom: 20px;
  color: #4d4d4d;

  &:nth-child(2),
  &:nth-child(3) {
    width: 350px;
    margin-right: 100px;

    @include tablet-width-only {
      width: 340px;
      margin-right: 85px;
    }
    @include mobile-width-only {
      width: auto;
      margin-right: 0;
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    width: 245px;
  }

  @include tablet-width-only {
    line-height: 25px;
  }
  @include mobile-width-only {
    margin-bottom: 24px;
    line-height: 22px;
  }
}
.instructor-statistics-in-numbers {
  display: flex;
  justify-content: space-around;

  @include tablet-width-only {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mobile-width-only {
    flex-wrap: wrap;
  }
}
.instructor-statistics-in-numbers__item {
  display: flex;
  width: 17.543%;
  flex-direction: column;
  color: #4d4d4d;
  text-align: center;

  @include tablet-width-only {
     width: 44%;
     flex-direction: row;
     align-items: center;
  }

  @include mobile-width-only {
    width: auto;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  &:nth-child(1):before,
  &:nth-child(2):before,
  &:nth-child(3):before,
  &:nth-child(4):before {
    margin-bottom: 20px;
    font-family: $besom;
    font-size: 120px;
    line-height: 120px;
    color: #ff0000;

    @include tablet-width-only {
      margin-bottom: 0;
      margin-right: 20px;
    }
    @include mobile-width-only {
      margin-right: 40px;
      margin-bottom: 0;
      font-size: 100px;
    }
  }
  &:nth-child(1):before {
    content: "27";
  }
  &:nth-child(2):before {
    content: "28";
  }
  &:nth-child(3):before {
    content: "05";
  }
  &:nth-child(4):before {
    content: "35";
  }
}
