header.page-header-wrapper
  .page-header
    .page-header__top
      a(href="#").logo
      strong.page-header__subtitle Спецкурс
      a(href="tel:+79304150252").telephone +7 (930) 410 02 52
    .page-header__bottom
      h1.page-header__title
        span Выжить<br>
        span Любой ценой<br>
      .timetable
        img(src="img/page-header/timetable.png", alt="timetable")
        span 3 дня с утра<br>до вечера
      button(type="button").main-button Рискнуть
