section.you-will-know-what-to-do
  h2.section-title.you-will-know-what-to-do__title Ты узнаешь, что делать
  ul.you-will-know-what-to-do__list
    li.you-will-know-what-to-do__item
      .you-will-know-what-to-do__item-wrapper
        strong.you-will-know-what-to-do__item-title Если заблудился
        p.you-will-know-what-to-do__item-description
          | Как быть, если заблудился и остался один в лесу, как
          | не умереть от голода и холода, сделать себе ночлег, развести огонь без спичек.
    li.you-will-know-what-to-do__item
      .you-will-know-what-to-do__item-wrapper
        strong.you-will-know-what-to-do__item-title Если встретил диких зверей
        p.you-will-know-what-to-do__item-description
          | Как вести себя в экстремальной ситуации при встрече с лесными животными,
          | даже если «вон та киса» выглядит такой мирной.
    li.you-will-know-what-to-do__item
      .you-will-know-what-to-do__item-wrapper
        strong.you-will-know-what-to-do__item-title Если нужна первая помощь
        p.you-will-know-what-to-do__item-description
          | Ты узнаешь, что делать, если человеку стало плохо, как оказать
          | самопомощь, как вынести пострадавшего из зоны поражения.
    li.you-will-know-what-to-do__item
      .you-will-know-what-to-do__item-wrapper
        strong.you-will-know-what-to-do__item-title Если оказался в воде
        p.you-will-know-what-to-do__item-description
          | Как спасти утопающего. Как не замёрзнуть и просушить одежду. Как подать сигнал SOS.
    li.you-will-know-what-to-do__item
      .you-will-know-what-to-do__item-wrapper
        strong.you-will-know-what-to-do__item-title Если грозит опасность
        p.you-will-know-what-to-do__item-description
          | Узнаешь рабочие алгоритмы действий в различных экстренных ситуациях
