section.what-gives-our-course
  .what-gives-our-course-wrapper
    h2.what-gives-our-course__title Что даёт наш</br>спецкурс
    ul.what-gives-our-course__list
      li.what-gives-our-course__item
        strong.what-gives-our-course__item-title Базовые знания
        p.what-gives-our-course__item-description
          | Вы научитесь не допускать и&nbsp;предотвращать попадание
          | человека в опасные ситуации на природе и в городе
      li.what-gives-our-course__item
        strong.what-gives-our-course__item-title Важные навыки
        p.what-gives-our-course__item-description
          | Получите не только все базовые знания, но и навыки,
          | которые могут спасти жизнь и здоровье, как своё, так
          | и родных, близких и людей вокруг
  .what-will-not-be
    h3.what-will-not-be__title Чего</br>не будет
    ul.what-will-not-be__list
      li.what-will-not-be__item
        strong.what-will-not-be__item-title Нет скуке!
        p.what-will-not-be__item-description
          | Не будет скучной и нудной теории. Курс состоит
          | на 80% из практики и только на 20% из теории!
      li.what-will-not-be__item
        strong.what-will-not-be__item-title И вакханалиям
        p.what-will-not-be__item-description
          | Никаких песен у костра и&nbsp;алкопоходов. Только хардкор!
