section.have-questions
  .container
    .have-questions__inner
      h2.have-questions__title
        | Есть вопросы?
      p.have-questions__message
        | Оставьте свой номер телефона, наши менеджеры
        | с вами свяжутся и проконсультируют
      form(action="#", onsubmit="alert('Отправлено'); return false").have-questions__form-wrapper
        input(type="text", placeholder="Имя", required).have-questions__name
        input(type="text", placeholder="Телефон", required).have-questions__phone
        button(type="submit").have-questions__send-button.main-button Отправить
